services:
  postgres:
    image: postgres:15
    container_name: movie_postgres
    environment:
      POSTGRES_DB: movie_booking
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: movie_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
